body {
    background-color:#F8F8FF;
    color: #303030;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height:1.6em;
    margin:0;
}

a{
    text-decoration:none;
    color:#000;
}

a:hover{
    color:red;
}

a:active{
    color:green;
}

.container{
    width: 80%;
    margin:auto;
    overflow:hidden;
}

.clr{
    clear:both;
}

#cover{
    width: 100%;

}

#navbar{
    background-color:#303030;
    overflow:hidden;
    padding-left:10%;
    z-index: 1;
    position:sticky;
    top:0;
}


#navbar a{
    color:White;
    font-weight:bold;
    text-decoration:none;
    display:block;
    font-size:18px;
    padding: 14px;
    float:left;
    text-align:center;
}

#navbar a:hover{
    color:#555;
}

#about-img{
    float:left;
    width:25%;
    height: 400px;
    object-fit: cover;
    margin-top:200px;
    margin-bottom:100px;
    box-sizing:border-box;
    border-radius: 150px;
}

#about{
    color:#303030;
    font-size: 20px;
    float:right;
    margin-top:250px;
    margin-bottom:100px;
    width:70%;
    box-sizing:border-box;
}

#block{
    background-image: url("../img/descending_midmight_blue.png");
    width:100%;
    height:784px;
    margin-top:100px;
    margin-bottom:100px;
}

#contact-img{
    float:right;
    width:35%;
    height: 300px;
    object-fit: cover;
    margin-top:220px;
    margin-bottom:100px;
    margin-right:300px;
    box-sizing:border-box;
    border-radius: 150px;
}

#contact{
    color:#F8F8FF;
    font-size: 20px;
    float:left;
    margin-top:250px;
    margin-bottom:100px;
    width:40%;
    box-sizing:border-box;
}

.button{
    border-radius:7px;
    padding:10px 15px;
    border:2px black solid;
    font-weight:bold;
    background-color:white;
}

.button:hover{
    background:#303030;
    color:#fff;
}

.post{
    border:1px #ccc solid;
    font-size:23px;
    padding:10px;
    background-color:White;
    color:black;
    border-radius:15px;
    margin-bottom:20px;
    padding-bottom:20px;
}

.post-img{
    padding:10px;
    height: 200px;
    width:95%;
    border-radius: 15px;
    object-fit:cover;
    margin:auto;
}

.post h1{
    margin-left:20px;
    float:left;
}

.post a{
    font-weight:bold;
}

.post p{
    margin-left: 20px;
    margin-right: 20px;
}

.author-note{
    float:right;
    margin-top:20px;
    margin-right:20px;
}

.read{
    float:right;
    margin-right: 5%;
    display:none;
}

.code{
    float:right;
    margin-right: 5%;
}



#timeline-header{
    font-size: 50px;
    text-align:center;
    color:#303030;
}



#timeline{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color:#555;
    padding: 20px;
    margin-top:20px;
}

.default-hr{
    margin:0;
    padding:0;
    margin-top:30px;
    margin-bottom:30px;
}



.sticky{
    position: fixed;
    top: 0;
    width: 100%; 
}







.lang-note{
    font-size:15px;
    padding-left: 20px;
}




@media(max-width:1250px){
    #about{
        width:100%;
    }
    #about-img{
        display:none;
    }
    #contact{
        width:100%;
    }
    #contact-img{
        display:none;
    }
}

@media(max-width:600px){
    .lang-note{
        display:none;
    }
    .author-note{
        display:none;
    }
    .post-img{
        display:none;
    }
    .code{
        margin-right:33%;
    }
}